// Fonts
@font-face {
	font-family: Montserrat-Regular;
	src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Sen;
	src: url(assets/fonts/Sen-Regular.ttf);
}

@font-face {
	font-family: Krub;
	src: url(assets/fonts/Krub-Regular.ttf);
}

// Colors
$primaryBG: #ffffff;
$secondaryBG: #e5e5e5;

$primaryAccent: #4b7288;
$secondaryAccent: #7ab4d4;

$primaryColor: #505050;

$fadeText: #9d9d9d;

$success: #61ba74;
$warning: #ebe294;
$error: #ba6161;

$linkColor: #006eb8;

$primaryFade: #4b72881a;

$primaryShadow: 0px 0px 12px -5px #0000001a;

$scrollbar-color: #7ab4d4;

// Constraints
$navHeight: 20px;
$sideMenuWidth: 160px;

$primaryMargin: 10px;
