$header-background: #022d47;
$menu-background: #033e63;
$menu-selected: linear-gradient(90deg, #0671b3 0%, #033e63 100%);
$menu-hover: linear-gradient(90deg, #078fe4 0%, #033e63 100%);
$higlight-color: #009dff;
$hint-color: #00263d;
$page-background: #022d47;
$content-background: #033e63;
$content-background-alt: #014b79;
$dark-content-shadow: #002338;
$light-content-shadow: #003557;

$header-height: 30px;
$menu-width: 70px;
$color: #005488;

$scrollbar-color: #005183;
