<div class="page">
	<div class="pageHeader">
		<h1 class="title">
			HOME
			<hr />
		</h1>
	</div>

	<div class="pageContent">
		<div class="left-col">
			<div class="notification">
				<img src="assets/img/warning.svg" draggable="false" />
				<p>
					As of July, <b>Novelplanet has shutdown!</b> Migrate your
					novels to another source.
				</p>
			</div>
			<div class="mainWrapper">
				<div class="header">
					<p>NOVEL UPDATES</p>
					<div class="lineBreak"></div>
					<button class="updateButton" (click)="checkForUpdates()">
						<img src="assets/img/refresh-white.svg" />
						UPDATE
					</button>
				</div>
				<div class="pageWrapper">
					<div
						class="recentNovels"
						*ngIf="
							updateNovels.length > 0 && !sourceManager.isChecking
						"
					>
						<app-novel-card
							*ngFor="let novel of updateNovels"
							[novel]="novel"
							(click)="loadNovel(novel)"
						>
							<p>{{ novel.name }}</p>
						</app-novel-card>
					</div>
					<div
						class="noRecentNovels"
						*ngIf="
							updateNovels.length === 0 &&
							!sourceManager.isChecking
						"
					>
						NO NOVEL UPDATES FOUND.
					</div>
					<div
						class="checkingUpdates"
						[ngStyle]="{
							opacity: sourceManager.isChecking ? '1' : '0'
						}"
					>
						<p
							[ngStyle]="{
								opacity: sourceManager.isChecking ? '1' : '0'
							}"
						>
							CHECKING FOR UPDATES
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="right-col">
			<div class="card" (click)="openGithubStars()">
				<img src="assets/img/home/star.svg" draggable="false" />
				<div class="msg">
					<h4>Love the app?</h4>
					<p>Leave a star on github.</p>
				</div>
			</div>
			<div class="card" (click)="openBugReport()">
				<img src="assets/img/home/feature.svg" draggable="false" />
				<div class="msg">
					<h4>Don't like something?</h4>
					<p>Request a change.</p>
				</div>
			</div>
			<div class="card" (click)="openDiscord()">
				<img src="assets/img/home/discord.svg" draggable="false" />
				<div class="msg">
					<h4>Want to stay updated?</h4>
					<p>Join our discord.</p>
				</div>
			</div>
		</div>
	</div>
</div>
