@import "../../assets/scss/global-variables";

.page {

  .headerPanel {
    padding: 7px;
    padding-left: 20px;
    background-color: $menu-background;
    border-left: $menu-selected;

    h1 {
      font-size: 38px;
      color: white;
    }
  }
}
