<div class="page">
  <div class="headerPanel">
      <h1>NovelFull</h1>
  </div>

  <div class="content">
    <form class="search" action="">
      <input class="searchBox" name="searchBox" type="text" placeholder="SEARCH" [(ngModel)]="val">
      <input class="searchButton" type="submit" name="submit" value="FIND" (click)="search(val)">
    </form>

    <div class="status">
      <img id="empty" [ngStyle]="{'display': novelfullService.showEmpty ? 'block' : 'none'}" src="assets/rsc/empty-icon.svg" alt="">
      <img class="error" [ngStyle]="{'display': novelfullService.showError ? 'block' : 'none'}" id="empty" src="assets/rsc/error-icon.png" alt="">
      <h1 class="loading" [ngStyle]="{'display': novelfullService.showLoading ? 'block' : 'none'}">LOADING</h1>
      <div class="notify">
        <h1>WORK IN PROGRESS</h1><br>
        <p>Please use another source for now.</p>
      </div>
    </div>

    <div class="novelList" [ngStyle]="{'display': novelfullService.showContent ? 'block' : 'none'}">
        <div (click)='loadNovelPage(novel)' class="novelHolder" [ngStyle]="{'border': novel.state.downloaded ? '1px solid #5eff00' : 'none'}" *ngFor="let novel of novelfullService.localNovels; let i = index">
            <img class="img" src="{{novel.info.cover}}" [ngStyle]="{'opacity': novel.state.inLibrary ? '0.4' : '1'}" onerror="this.src='assets/rsc/missing-image.png';">
            <div class="fade">
                <p class="name">{{novel.info.name}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
