@import "../../assets/scss/global-variables";

.page {

  #coverChangeDialogue {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.616);
    display: none;
    align-content: center;

    .holder {
      position: relative;
      width: 350px;
      height: 40px;
      // background: white;
      border-radius: 5px;
      margin: auto;

      .textBox {
        position: absolute;
        border: none;
        height: 40px;
        top: 0;
        left: 0;
        width: 270px;
        font-size: 15px;
        padding-left: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.541),
                    -5px -5px 12px -5px rgb(0, 71, 116);
      }

      .textButton {
        cursor: pointer;
        border: none;
        height: 40px;
        background: $menu-selected;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        color: white;
        font-size: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.541),
                    -5px -5px 12px -5px rgb(0, 71, 116);
      }
    }
  }

  .content {

    .novelNav {
      width: 100%;
      padding: 5px;
      padding-left: 30px;
      padding-right: 30px;

      .back {
        width: 40px;
        cursor: pointer;
      }

      .changeCover {
        width: 35px;
        margin-top: 3px;
        float: right;
        cursor: pointer;
      }
    }

    .wrapper {
      padding-left: 30px;
        padding-right: 30px;

      .novelContainer {
        width: 100%;
        height: 425px;
        display: grid;
        grid-template-columns: 300px auto;
        background: $content-background;
        border-radius: 5px;
        box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.363);

        .novelCover {

          img {
            width: 100%;
            height: 425px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }

        .novelInfo {
          padding: 15px;
          color: white;
          position: relative;

          h1 {
            font-size: 30px;
            width: 100%;
            max-height: 70px;
            overflow: hidden;
          }

          .infoHolder {
            width: 100%;
            margin-top: 5px;
            border-radius: 5px;

            .label {
              float: left;
              width: 130px;
            }

            .info {

            }

            .extend {
              max-height: 38px;
              overflow: auto;
            }

            .summary {
              max-height: 114px;
              overflow: auto;
            }
          }

          .alt {
            background: $content-background-alt;
          }

          .buttons {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 10px;

            a {
              cursor: pointer;
              float: left;
              width: 10%;
              height: 55px;
              text-align: center;
              margin-right: 1%;
              border-radius: 3px;
              font-size: 18px;
              box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.363);

              img {
                width: 30px;
                padding-top: 12px;
                padding-bottom: 9px;
              }
            }

            .add {
              background: #0065a3;
            }

            .remove {
              background: #a02500;
            }

            .downloadButton {
              position: relative;
              background: #399b00;
              transition: width ease-in-out 1s, background ease-in-out 1s;

              .downloadBar {
                border-radius: 3px;
                height: 100%;
                background: #399b00;

                p {
                  position: absolute;
                  width: 100%;
                  margin-top: 16px;
                  font-weight: 700;
                  color: $content-background;
                  text-align: center;
                }
              }
            }

            .cancelButton {
              background: #a02500;
            }

            .openFolder {
              background: #0065a3;
            }

            .progressBar {
              width: 66%;
              background: white;
            }
          }
        }
      }
    }

    .status {

      .notice {
        padding: 10px;
        background: rgb(170, 111, 0);
        border-radius: 5px;
        margin: 50px;
        color: white;
      }
    }
  }
}
