<div class="page">
	<div class="pageHeader">
		<h1 class="title">
			SOURCES
			<hr />
		</h1>
	</div>

	<div class="pageContent">
		<div class="mainWrapper">
			<div class="pageWrapper">
				<div class="sourcesContainer">
					<div class="header">
						<p>SOURCES</p>
						<div class="lineBreak"></div>
					</div>
					<div class="sourceHolder">
						<app-source-button
							*ngFor="let source of database.sources"
							[source]="source"
						>
						</app-source-button>
					</div>
				</div>

				<div class="sourcesContainer">
					<div class="header">
						<p>DEPRECATED SOURCES</p>
						<div class="lineBreak"></div>
					</div>
					<div class="sourceHolder">
						<app-source-button
							*ngFor="let source of database.deprecatedSources"
							[source]="source"
						>
						</app-source-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
