html {
  height: 100%;
  font-family: helvetica, Arial, sans-serif;
}

body {
  background-color: #0099ff;
  margin: 0;
}

body #header {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #313436;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  -webkit-app-region: drag;
  -webkit-box-shadow: inset 0px -5px 6px -6px black;
          box-shadow: inset 0px -5px 6px -6px black;
  border-radius: 5% 5% 0 0;
}

body #header strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  color: white;
}

body #header strong span {
  color: #0099ff;
}

body #header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: right;
  -webkit-app-region: no-drag;
}

body #header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body #header nav ul li {
  float: left;
}

body #header nav ul li img {
  width: 20px;
  cursor: pointer;
}

body #header nav ul li #min:hover {
  background: orange;
}

body #header nav ul li #close:hover {
  background: red;
}

body #vertical-menu {
  z-index: 10;
  position: fixed;
  width: 70px;
  height: 100%;
  top: 30px;
  background-color: #0c2852;
  border-right: 2px solid #8595af;
  -webkit-box-shadow: 4px -1px 6px -6px black;
          box-shadow: 4px -1px 6px -6px black;
}

body #vertical-menu a {
  display: block;
  width: 70px;
  height: 60px;
  text-decoration: none;
}

body #vertical-menu a img {
  width: inherit;
  height: inherit;
}

body #vertical-menu a img:hover {
  background-color: #0e3a5e;
}

body #vertical-menu #homeButton {
  background-color: #054579;
}

body #content {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 70px);
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

body #content .page {
  display: none;
  position: absolute;
  height: calc(100% - 60px);
  width: calc(100%);
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

body #content .page .headerPanel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15%;
      grid-template-columns: auto 15%;
  padding-left: 5px;
  height: 60px;
  position: fixed;
  right: 0;
  left: 70px;
  top: 30px;
  background-color: #002d4a;
  z-index: 8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content .page .headerPanel h1 {
  font-size: 2.2rem;
  color: white;
  margin: 0;
  margin-left: 10px;
}

body #content .page .headerPanel .urlTextField {
  height: 30px;
  margin-left: 5px;
  font-size: 1.1rem;
}

body #content .page .headerPanel .urlButton {
  height: 37px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #8595af;
  background-color: #0c2852;
  color: white;
  cursor: pointer;
}

body #content .page .status {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -90px;
  text-align: center;
}

body #content .page .status img {
  width: 100px;
}

body #content .page .status .sourceStatusImage {
  width: 200px;
}

body #content .page .content {
  display: none;
}

body #content .page .content .novelInfoHolder {
  position: relative;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

body #content .page .content .novelInfoHolder img {
  width: 250px;
  height: 300px;
  float: left;
  margin-right: 5px;
}

body #content .page .content .novelInfoHolder .novelInfo {
  word-wrap: break-word;
}

body #content .page .content .novelInfoHolder .novelInfo strong {
  font-size: 1.5rem;
}

body #content .page .content .novelInfoHolder .novelButtons {
  position: absolute;
  left: 250px;
  bottom: 10px;
}

body #content .page .content .novelInfoHolder .novelButtons .novelButton {
  height: 37px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #8595af;
  background-color: #0c2852;
  color: white;
  float: left;
  cursor: pointer;
}

body #content .page .content .novelInfoHolder .novelButtons .novelRemoveButton {
  display: none;
  height: 37px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #8595af;
  background-color: #6f0707;
  color: white;
  float: left;
  cursor: pointer;
}

body #content .page .content .novelInfoHolder .novelButtons .progressBar {
  display: none;
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  float: left;
}

body #content .page .content .novelInfoHolder .novelButtons .progressBar .loaderBar {
  width: 0%;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 20px;
}

body #content .page .testBox {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  list-style-type: none;
}

body #content .page .testBox li {
  font-size: 1.2rem;
  float: left;
  margin-right: 20px;
}

body #content .page .testBox li .square {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 5%;
  text-align: center;
  color: black;
  border-top: 1px solid #e5e9ec;
  border-left: 2px solid #8595af;
  border-right: 2px solid #8595af;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

body #content #homePage {
  display: block;
}

body #content #sourcesPage #sourcesList {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  list-style-type: none;
}

body #content #sourcesPage #sourcesList li {
  font-size: 1.2rem;
  float: left;
  margin-right: 20px;
}

body #content #sourcesPage #sourcesList li .sourceHolder {
  cursor: pointer;
  width: 150px;
  height: 175px;
  background-color: white;
  border-radius: 5%;
  text-align: center;
  color: black;
  border-top: 1px solid #e5e9ec;
  border-left: 2px solid #8595af;
  border-right: 2px solid #8595af;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

body #content #sourcesPage #sourcesList li .sourceHolder img {
  width: 115px;
  margin-top: 10px;
}

body #content #sourcesPage #sourcesList li .sourceHolder p {
  margin-top: 0;
}

body #content #sourcesPage #sourcesList li .sourceHolder:hover {
  -webkit-box-shadow: 0px 5px 16px -6px black;
          box-shadow: 0px 5px 16px -6px black;
}

body #content #libraryPage {
  display: none;
}

body #content #libraryPage #libraryStatus {
  display: none;
}

body #content #libraryPage #libraryContent #libraryNovelList {
  list-style-type: none;
  padding-left: 20px;
}

body #content #libraryPage #libraryContent #libraryNovelList li {
  font-size: 1.2rem;
  margin-right: 20px;
  text-align: left;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder {
  cursor: pointer;
  width: 100%;
  height: 280px;
  margin-top: 10px;
  background-color: white;
  text-align: center;
  color: black;
  border-top: 1px solid #e5e9ec;
  border-left: 2px solid #8595af;
  border-right: 2px solid #8595af;
  border-bottom: 1px solid #e5e9ec;
  position: relative;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novelCover {
  float: left;
  width: 240px;
  height: 280px;
  margin-right: 10px;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-info {
  text-align: left;
  word-wrap: break-word;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control {
  position: absolute;
  left: 250px;
  bottom: 10px;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control button {
  height: 37px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #8595af;
  background-color: #0c2852;
  color: white;
  float: left;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control .libraryRemoveButton {
  background-color: #6f0707;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control .libraryOpenFolderButton {
  display: none;
  background-color: #4CAF50;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control .libraryCancelButton {
  display: none;
  background-color: #6f0707;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control .progressBar {
  display: none;
  margin-top: 10px;
  height: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  float: left;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder .novel-control .progressBar .loaderBar {
  width: 0%;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 20px;
}

body #content #libraryPage #libraryContent #libraryNovelList li .libraryNovelHolder:hover {
  -webkit-box-shadow: 0px 2px 6px 3px #b9c5d8;
          box-shadow: 0px 2px 6px 3px #b9c5d8;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
  margin-top: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b4d4e;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #313436;
}
/*# sourceMappingURL=styles.css.map */