$header-background: rgb(49, 52, 54);
$menu-background: #0c2852;
$menu-selected: rgb(5, 69, 121);
$menu-hover: rgb(14, 58, 94);
$page-background: white;
$content-background: rgb(255, 255, 255);

html {
    height: 100%;
    font-family: helvetica, Arial, sans-serif;
    -webkit-user-select: none;
}

body {
    #content {
        .page {
            display: none;
        }

        #homePage {
            // display: block;
        }
        #sourcesPage {
            // display: block;
        }
        #novelPlanetPage {
            // display: block;
        }
        #boxNovelPage {
            // display: block;
        }
        #libraryPage {
            display: block;

        }
    }
}

body {
    background-color: rgb(0, 153, 255);
    margin: 0;

    #header {
        z-index: 9;
        position: fixed;
        width: 100%;
        height: 30px;
        background-color: $header-background;
        display: grid;
        grid-template-columns: 70% auto;
        -webkit-app-region: drag;
        box-shadow: inset 0px -5px 6px -6px black;

        border-radius: 5% 5% 0 0;
    
        strong {
            display: flex;
            align-items: center;
            margin-left: 5px;
            color: white;
    
            span {
                color: rgb(0, 153, 255);
            }
        }
    
        nav {
            display: flex;
            align-items: center;
            justify-self: right;
            -webkit-app-region: no-drag;
    
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
    
                li {
                    float: left;
    
                    img {
                        width: 20px;
                        cursor: pointer;
                    }
    
                    #min:hover {
                        background: orange;
                    }
    
                    #close:hover {
                        background: red;
                    }
                }
            }
        }
    }

    #vertical-menu {
        z-index: 10;
        position: fixed;
        width: 70px;
        height: 100%;
        top: 30px;
        background-color: $menu-background;
        border-right: 2px solid #8595af;
        box-shadow: 4px -1px 6px -6px black;

        a {
            display: block;
            width:70px;
            height: 60px;
            text-decoration: none;

            img {
                width: inherit;
                height: inherit;
            }

            img:hover {
                background-color: $menu-hover;
            }
        }

        #homeButton {
            background-color: $menu-selected;
        }
    }

    #content {
        position: absolute;
        height: calc(100% - 30px);
        width: calc(100% - 70px);
        bottom: 0;
        right: 0;
        padding-bottom: 10px;
        background-color: white;
        box-sizing: border-box;
        overflow: auto;
        font-family: 'Open Sans', sans-serif;

        .page {
            position: absolute;
            height: calc(100% - 60px);
            width: calc(100%);
            bottom: 0;
            right: 0;
            padding-bottom: 10px;
            box-sizing: border-box;
            overflow: auto;

            .headerPanel
            {
                display: grid;
                grid-template-columns: auto 15%;
                // padding-top: 5px;
                padding-left: 5px;
                height: 60px;
                position: fixed;
                right: 0;
                left: 70px;
                top: 30px;
                background-color: #0c2852;
                z-index: 8;
                align-items: center;

                h1 {
                    font-size: 2.2rem;
                    color: white;
                    margin: 0;
                    margin-left: 10px;
                }

                .urlTextField {
                    height: 30px;
                    margin-left: 5px;
                    font-size: 1.1rem;
                }

                .urlButton {
                    height: 37px;
                    margin-right: 5px;
                    margin-left: 5px;
                    border: 1px solid #8595af;
                    background-color: #0c2852;
                    color: white;
                    cursor: pointer;
                }
            }

            .status {
                position: absolute;
                top: 30%;
                left: 50%;
                margin-left: -90px;
                text-align: center;

                img {
                    width: 100px;
                }

                .sourceStatusImage {
                    width: 200px;
                }
            }

            .content {
                display: none;
                
                .novelList {
                    list-style-type: none;
                    padding-left: 30px;
                    padding-right: 30px; 

                    .sourceNovelHolder {
                        position: relative;
                        width: 100%;
                        height: 300px;
                        border-top: 1px solid #e5e9ec;
                        border-left: 2px solid #8595af;
                        border-right: 2px solid #8595af;
                        box-shadow: 0 8px 6px -6px black;
                        margin-top: 10px;

                        img {
                            width: 250px;
                            height: 300px;
                            float: left;
                            margin-right: 5px;
                        }

                        .novelInfo {
                            word-wrap: break-word;

                            strong {
                                font-size: 1.5rem;
                            }
                        }

                        .novelButtons {
                            position: absolute;
                            left: 250px;
                            bottom: 10px;
                            right: 5px;
        
                            .novelAddButton {
                                height: 37px;
                                margin-right: 5px;
                                margin-left: 5px;
                                border: 1px solid #8595af;
                                background-color: #0c2852;
                                color: white;
                                float: left;
                                cursor: pointer;
                            }
        
                            .novelRemoveButton {
                                display: none;
                                height: 37px;
                                margin-right: 5px;
                                margin-left: 5px;
                                border: 1px solid #8595af;
                                background-color: #6f0707;
                                color: white;
                                float: left;
                                cursor: pointer;
                            }
                        }
                    }

                    .sourceNovelHolder:hover {
                        box-shadow: 0px 0px 20px 0px black;
                    }
                }
            }

            .testBox {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                margin-left: 10px;
                list-style-type: none;

                li {
                    font-size: 1.2rem;
                    float: left;
                    margin-right: 20px;

                    .square {
                        cursor: pointer;
                        width: 150px;
                        height: 150px;
                        background-color: $content-background;
                        border-radius: 5%;
                        text-align: center;
                        color: black;
                        border-top: 1px solid #e5e9ec;
                        border-left: 2px solid #8595af;
                        border-right: 2px solid #8595af;
                        box-shadow: 0 8px 6px -6px black;
                    }
                }
            }
        }

        #homePage {
            padding: 0px;

            #webview {
                width: 100%;
                height: 100%;
            }
        }

        #sourcesPage {

            #sourcesList {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                margin-left: 10px;
                list-style-type: none;

                li {
                    font-size: 1.2rem;
                    float: left;
                    margin-right: 20px;

                    .sourceHolder {
                        cursor: pointer;
                        width: 150px;
                        height: 175px;
                        background-color: $content-background;
                        border-radius: 5%;
                        text-align: center;
                        color: black;
                        border-top: 1px solid #e5e9ec;
                        border-left: 2px solid #8595af;
                        border-right: 2px solid #8595af;
                        box-shadow: 0 8px 6px -6px black;

                        img {
                            width: 115px;
                            margin-top: 10px;
                        }

                        p {
                            margin-top: 0;
                        }
                    }

                    .sourceHolder:hover {
                        box-shadow: 0px 0px 20px 0px black;
                    }

                    .sourceHolderAnimate {
                        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	                    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    }
                }
            }
        }

        #boxNovelPage {
            // display: block;
        }

        #libraryPage {

            .headerPanel {

                img {
                    height: 30px;
                    position: absolute;
                    right: 260px;
                    top: 12px;
                }

                #librarySearchField {
                    height: 30px;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    padding-right: 12px; 
                    font-size: 1.1rem;
                }

                #libraryCancelSearch {
                    display: none;
                    position: absolute;
                    right: 20px;
                    top: 0px;
                    font-size: 1rem;
                    color: #0c2658;
                    cursor: pointer;
                }
            }

            #libraryStatus {
                display: none;
            }

            #libraryContent {

                #libraryNovelList {
                    list-style-type: none;
                    padding-left: 20px;

                    li {
                        font-size: 1.2rem;
                        margin-right: 20px;
                        text-align: left;
                        
                        .libraryNovelHolder {
                            // cursor: pointer;
                            width: 100%;
                            height: 280px;
                            margin-top: 10px;
                            background-color: $content-background;
                            text-align: center;
                            color: black;
                            border-top: 1px solid #e5e9ec;
                            border-left: 2px solid #8595af;
                            border-right: 2px solid #8595af;
                            border-bottom: 1px solid #e5e9ec;
                            position: relative;

                            -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	                        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

                            .novelCover {
                                float: left;
                                width: 240px;
                                height: 280px;
                                margin-right: 10px;
                            }

                            .novel-info {
                                text-align: left;
                                word-wrap: break-word;
                                padding-right: 30px;
                            }

                            .novel-settings {
                                position: fixed;
                                top: 0px;
                                right: 5px;
                                margin-left: 5px;

                                .novel-source {
                                    width: 18px;
                                }

                                .novel-cover-change {
                                    cursor: pointer;
                                }
                            }

                            .novel-control {
                                position: fixed;
                                left: 250px;
                                bottom: 10px;
                                right: 5px;

                                button {
                                    height: 37px;
                                    margin-right: 5px;
                                    margin-left: 5px;
                                    border: 1px solid #8595af;
                                    background-color: #0c2852;
                                    color: white;
                                    float: left;
                                }

                                .libraryRemoveButton {
                                    background-color: #6f0707;
                                }

                                .libraryOpenFolderButton {
                                    display: none;
                                    background-color: #4CAF50; 
                                }

                                .libraryCancelButton {
                                    display: none;
                                    background-color: #6f0707;
                                }

                                .progressBar {
                                    display: none;
                                    margin-top: 10px;
                                    height: 10px; 
                                    width: 100%;
                                    background-color: #ddd;
                                    border-radius: 10px;
                                    float: left;

                                    .loaderBar {
                                        width: 0%;
                                        height: 10px;
                                        background-color: #4CAF50;
                                        border-radius: 20px;
                                    }
                                }
                            }
                        }

                        .libraryNovelHolder:hover {
                            // box-shadow: 0px 2px 6px 3px #b9c5d8;
                            box-shadow: 0px 0px 20px 0px black;
                        }
                    }
                }

                .novelCoverChangePrompt {
                    // display: none;
                    position: fixed;
                    z-index: 11;
                    top: 30px;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: black;
                    opacity: 0.5;

                    .promptBox {
                        margin-top: 20%;
                        margin-left: 29%;
                        border-radius: 50px;
                        width: 50%;
                        height: 50px;
                        background-color: white;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    margin-top: 30px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(75, 77, 78); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(49, 52, 54); 
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-29 6:42:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}