<nav>
	<strong><span>HANA</span>DIGITAL</strong>
	<div class="windowControls">
		<div class="control minimize" (click)="minWindow()"></div>
		<div class="control maximize" (click)="maxWindow()"></div>
		<div class="control exit" (click)="closeWindow()"></div>
	</div>
</nav>

<div id="sideMenu">
	<div class="title">
		<img src="assets/img/side-menu/icon.svg" draggable="false" />
		<div class="text">
			<p>NOVEL</p>
			<p>SCRAPER</p>
		</div>
	</div>

	<hr />

	<div class="menuContent">
		<div class="menuButtons">
			<div
				routerLink=""
				id="home"
				class="button active"
				(click)="loadPage('home')"
			>
				<img src="assets/img/side-menu/Home.svg" draggable="false" />
				<p>HOME</p>
			</div>

			<div
				routerLink="/sources"
				id="sources"
				class="button"
				(click)="loadPage('sources')"
			>
				<img src="assets/img/side-menu/Source.svg" draggable="false" />
				<p>SOURCES</p>
			</div>

			<div
				routerLink="/library"
				id="library"
				class="button"
				(click)="loadPage('library')"
			>
				<img src="assets/img/side-menu/Library.svg" draggable="false" />
				<p>LIBRARY</p>
			</div>
		</div>

		<p id="version">{{ version }}</p>
	</div>
</div>

<div id="update" *ngIf="isUpdate">
	<div class="updatePrompt">
		<div
			class="promptWrapper"
			[ngStyle]="{
				opacity: isUpdating ? '0' : '1',
				display: isUpdating ? 'none' : 'block'
			}"
		>
			<p>AN UPDATE IS AVAILABLE. DO YOU WANT TO UPDATE NOW?</p>
			<span>THE APP WILL RESTART AFTER UPDATING.</span>
			<div class="buttons">
				<button class="yes ans" (click)="downloadUpdate()">YES</button>
				<button class="no ans" (click)="toggleUpdatePrompt()">
					NO
				</button>
			</div>
		</div>

		<div
			class="updating"
			[ngStyle]="{
				opacity: isUpdating ? '1' : '0',
				display: isUpdating ? 'block' : 'none'
			}"
		>
			UPDATING
		</div>
	</div>
</div>
<router-outlet></router-outlet>
