@import "assets/scss/global-variables";

nav {
	width: 100%;
	height: $navHeight;
	-webkit-app-region: drag;
	padding-left: $primaryMargin;
	padding-right: $primaryMargin;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $primaryAccent;
	font-size: 11px;

	strong {
		font-family: Montserrat-Bold;
		font-weight: bold;
		color: $secondaryAccent;
		letter-spacing: 1.5px;

		span {
			color: white;
		}
	}

	.windowControls {
		display: flex;
		-webkit-app-region: no-drag;

		.control {
			width: 11px;
			height: 11px;
			background: white;
			border-radius: 50%;
			margin-left: 4px;
			cursor: pointer;
		}

		.minimize {
			background: #c6b737;
		}
		.maximize {
			background: #38a0b7;
		}
		.exit {
			background: #ce5555;
		}

		.minimize:hover {
			background: #ffed48;
		}
		.maximize:hover {
			background: #51dfff;
		}
		.exit:hover {
			background: #ff6969;
		}
	}
}

html,
body {
	height: 100%;
	margin: 0;
}

#sideMenu {
	user-select: none;
	position: fixed;
	top: $navHeight;
	left: 0;
	width: $sideMenuWidth;
	height: 100%;
	background: $primaryBG;
	box-shadow: $primaryShadow;

	padding: $primaryMargin;
	padding-left: 0;
	padding-right: 0;

	.title {
		display: flex;
		align-items: center;
		padding-left: $primaryMargin;

		img {
			width: 35px;
			margin-right: 5px;
		}

		.text {
			letter-spacing: 1.5px;
			font-size: 15px;
			margin-top: 3px;
		}
	}

	hr {
		margin: $primaryMargin * 2 $primaryMargin;
		border: none;
		height: 1px;
		background: $primaryColor;
		opacity: 0.1;
	}

	.menuButtons {
		width: 100%;
		// margin-top: $primaryMargin * 4;

		.button {
			display: flex;
			padding-left: $primaryMargin;
			align-items: center;
			margin-left: 3px;
			cursor: pointer;
			padding-top: $primaryMargin * 0.8;
			padding-bottom: $primaryMargin * 0.8;

			img {
				width: 22px;
				opacity: 0.5;
				margin-right: 10px;
			}

			p {
				font-size: 19px;
				opacity: 0.5;
			}
		}

		.button:hover {
			border-right: solid 2px $secondaryAccent;
			background: $primaryFade;
		}

		.active {
			border-right: solid 2px $secondaryAccent;

			img {
				opacity: 1;
			}
			p {
				opacity: 1;
			}
		}
	}
}
