<div class="page">
	<div class="pageHeader">
		<h1 class="title">
			<img class="back" src="assets/img/drop-arrow.svg" />
			<img
				class="backButton"
				src="assets/img/back-arrow.svg"
				(click)="goBack()"
			/>
			{{ source.name.toUpperCase() }}
			<hr />
		</h1>
	</div>

	<div class="pageContent">
		<div class="mainWrapper">
			<div class="pageWrapper">
				<div class="novelPageController">
					<div
						class="progressBar"
						[ngStyle]="{
							width: novel.downloading ? '260px' : '0px'
						}"
					>
						<div class="progress">
							{{ database.getPercentage(downloadID) }}
						</div>
						<div
							class="bar"
							[ngStyle]="{
								width: database.getPercentage(downloadID)
							}"
						></div>
					</div>

					<div class="add" *ngIf="!novel.inLibrary">
						<img
							src="assets/img/add.svg"
							(click)="addToLibrary()"
						/>
					</div>
					<div class="in" *ngIf="novel.inLibrary">
						<img
							src="assets/img/browser.svg"
							(click)="openInBrowser()"
						/>
						<img
							src="assets/img/delete.svg"
							(click)="toggleDeleteModal()"
						/>
						<img src="assets/img/refresh.svg" (click)="refresh()" />
						<img
							src="assets/img/folder.svg"
							(click)="openFolder()"
							*ngIf="novel.downloaded"
						/>
						<img
							src="assets/img/update.svg"
							*ngIf="novel.downloaded && !novel.downloading"
							(click)="download()"
						/>
						<img
							src="assets/img/cancel.svg"
							*ngIf="novel.downloading"
							(click)="cancelDownload()"
						/>
						<img
							src="assets/img/download.svg"
							*ngIf="!novel.downloaded && !novel.downloading"
							(click)="download()"
						/>
					</div>
				</div>

				<div class="novelInfo" *ngIf="!loading">
					<img class="novelCover" src="{{ novel.cover }}" />

					<div class="info">
						<h1 class="infoBox">
							<span>{{ novel.name }}</span>
						</h1>
						<div class="infoBox latestChapter">
							<h4>LATEST CHAPTER</h4>
							<span>{{ novel.latestChapter }}</span>
						</div>
						<div
							class="infoBox totalChapters"
							*ngIf="!novel.downloaded"
						>
							<h4>TOTAL CHAPTERS</h4>
							<span>{{ novel.totalChapters }}</span>
						</div>
						<div
							class="infoBox totalChapters"
							*ngIf="novel.downloaded"
						>
							<h4>DOWNLOADED</h4>
							<span
								>{{ novel.downloadedChapters }} /
								{{ novel.totalChapters }}</span
							>
						</div>
						<div class="infoBox source">
							<h4>SOURCE</h4>
							<span>{{ novel.source }}</span>
						</div>
						<div class="infoBox author">
							<h4>AUTHOR</h4>
							<span>{{ novel.author }}</span>
						</div>
						<div class="infoBox genre">
							<h4>GENRE</h4>
							<span>{{ novel.genre }}</span>
						</div>
						<div class="infoBox summary">
							<h4>SUMMARY</h4>
							<span>{{ novel.summary }}</span>
						</div>
					</div>
				</div>

				<div class="loadingInfo" *ngIf="loading">LOADING</div>
			</div>
		</div>
	</div>

	<div class="modal" *ngIf="showModal">
		<div class="removePrompt prompt">
			<p>ARE YOU SURE YOU WANT TO REMOVE THIS NOVEL?</p>
			<span>THIS WILL NOT DELETE THE NOVEL FILES</span>
			<div class="buttons">
				<button class="yes ans" (click)="delete()">YES</button>
				<button class="no ans" (click)="toggleDeleteModal()">NO</button>
			</div>
		</div>
	</div>
</div>
