<div class="page">
  <div class="headerPanel">
    <h1>Sources</h1>
  </div>

  <ul id="sourcesList">
    <li>
      <div routerLink="/novelplanetSource" id="novelplanetSource" class="sourceHolder">
        <div class="img-gradient"></div>
        <img id="novelplanetIcon" src="assets/rsc/novelplanet-logo.png" />
        <p>NovelPlanet</p>
      </div>
    </li>

    <li>
      <div routerLink="/novelfullSource" id="novelfullSource" class="sourceHolder">
        <div class="img-gradient"></div>
        <img id="novelfullIcon" src="assets/rsc/novelfull-logo.png" />
        <p>NovelFull</p>
      </div>
    </li>

    <li>
      <div routerLink="/boxnovelSource" id="boxNovelSource" class="sourceHolder">
        <div class="img-gradient"></div>
        <img id="boxNovelIcon" src="assets/rsc/boxnovel-logo.png" />
        <p>BoxNovel</p>
      </div>
    </li>
  </ul>
</div>
