<div class="page">
  <div class="headerPanel">
    <h1>Sources</h1>
  </div>

  <ul id="sourcesList">
    <li>
      <div
        routerLink="/novelplanetSource"
        id="novelplanetSource"
        class="sourceHolder"
      >
        <div class="img-gradient"></div>
        <img
          id="novelplanetIcon"
          src="assets/rsc/sourceLogos/novelplanet-logo.png"
        />
        <p>NovelPlanet</p>
      </div>
    </li>

    <li *ngFor="let source of sourceList">
      <div routerLink="{{ source.route }}" class="sourceHolder">
        <div class="img-gradient"></div>
        <img [src]="'assets/rsc/sourceLogos/' + source.img" />
        <p>{{ source.name }}</p>
      </div>
    </li>
  </ul>
</div>
