@import "../../assets/scss/global-variables";

.page {

  #sourcesList {
    padding: 20px;
    padding-left: 30px;
    list-style-type: none;

    li {
      .sourceHolder {
        position: relative;
        cursor: pointer;
        float: left;
        margin-right: 30px;
        width: 175px;
        height: 175px;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.2s;

        // border-radius: 5px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);

        .img-gradient {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: .2s ease-in-out opacity;
        }

        img {
          width: 100%;
          transition: transform 1s;
        }

        p {
          position: absolute;
          width: 100%;
          top: 40%;
          font-size: 20px;
          font-weight: 800;
          text-shadow: 0px 0px 12px 3px black;
          color: white;
          opacity: 0;
          transition: .2s opacity;
        }
      }

      .sourceHolder:hover {
        // box-shadow: none;

        transform: scale(1.1);
        .img-gradient {
          opacity: 1;
        }

        .img {
            transform: scale(1.1);
        }

        p {
          opacity: 1;
        }
      }

      .sourceHolder:focus {
        outline: none;
      }

      #novelplanetSource {
        border: 5px solid rgba(255, 0, 0, 0.644);

        .img-gradient {
          background: rgba(255, 0, 0, 0.644);
        }
      }
    }
  }
}
