/* You can add global styles to this file, and also import other style files */
@import "assets/scss/global-variables";
// @import url("https://fonts.googleapis.com/css2?family=Sen&display=swap"); //Sen
// @import url("https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap"); //Krub

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;

	font-family: Montserrat-Regular, Sen, Krub, sans-serif;
}

*:focus {
	outline: none;
}

body {
	background: $secondaryBG;
}

.page {
	padding-left: $sideMenuWidth + $primaryMargin * 2;
	padding-right: $primaryMargin * 2;
	padding-top: $primaryMargin;

	.pageHeader {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;

		h1 {
			font-weight: 500;
			font-size: 38px;
			color: $primaryColor;
			display: inline-block;
			position: relative;

			.back {
				transform: rotate(90deg);
				width: 25px;
				opacity: 0;
			}

			.backButton {
				cursor: pointer;
				transform: rotate(90deg);
				width: 25px;
				position: absolute;
				top: 18px;
				left: 0;
			}

			hr {
				margin-top: $primaryMargin + 4px;
				margin-bottom: $primaryMargin * 1.7;
				background: $secondaryAccent;
				height: 1px;
				border: none;
				border-radius: 50%;
			}
		}
	}

	.pageContent {
		height: calc(100vh - 130px);
		position: relative;
		// background: red;

		.mainWrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primaryBG;
			box-shadow: $primaryShadow;
			color: $primaryColor;

			.updateButton {
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;
				background: $secondaryAccent;
				padding: 5px;
				font-size: 15px;
				color: white;
				height: 35px;
				padding-right: 15px;
				border-radius: 3px;
				box-shadow: inset 0px 0px 12px -5px rgba(0, 0, 0, 0.25);

				img {
					height: 100%;
					padding: 6px;
					padding-right: 2px;
				}
			}

			.pageController {
				display: flex;
				justify-content: space-between;

				.pageControllerButtons {
					width: 100%;
					padding: 10px;
					padding-bottom: 0;

					img {
						cursor: pointer;
						height: 100%;
						float: right;
					}
				}
			}

			.searchForm {
				width: 400px;
				position: relative;
				margin: 10px;
				margin-bottom: 0;

				.searchBar {
					width: 100%;
					border: none;
					height: 35px;
					background: #f0f9ff;
					box-shadow: inset 0px 0px 12px -5px rgba(0, 0, 0, 0.1);
					padding: 10px;
					padding-right: 33px;
					border-radius: 5px;
				}

				.searchBar::placeholder {
					color: rgba(0, 0, 0, 0.4);
				}

				.searchIcon {
					cursor: pointer;
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					padding: 10px;
				}
			}

			.pageWrapper {
				margin: $primaryMargin;
				padding: 10px;
				padding-right: 10px;
				padding-top: 10px !important;
				overflow-y: auto;
				height: calc(100% - 20px);
				box-shadow: inset 0px 5px 12px -5px rgba(0, 0, 0, 0.248);
				border-radius: 5px;
				position: relative;

				.header {
					padding: 0 !important;
				}
			}

			.header {
				margin-bottom: 10px;
				align-items: center;
				display: flex;
				align-items: center;
				padding: $primaryMargin;
				padding-bottom: 0;

				p {
					font-size: 12px;
					font-family: "Montserrat-Bold";
					// font-weight: bold;
				}

				.lineBreak {
					flex: 1;
					height: 3px;
					background: $secondaryAccent;
					margin-left: 10px;
				}
			}
		}
	}
}

/* Let's get this party started */
::-webkit-scrollbar {
	width: 8px;
	margin-top: 30px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 12px -5px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $scrollbar-color;
	// -webkit-box-shadow: inset 0 0 12px -5px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $scrollbar-color;
}

@keyframes load {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
