/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/global-variables';
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html, body {
  background-color: $page-background;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Sen', sans-serif;
}

*:focus {
  outline: none;
}

.page {
  margin-left: $menu-width;

  .headerPanel {
    height: 60px;
    padding: 7px;
    padding-left: 20px;
    background-color: $menu-background;
    border-left: $menu-selected;
    box-shadow: 0px 10px 12px -6px rgba(0, 0, 0, 0.301);
    overflow: hidden;

    h1 {
      font-size: 38px;
      color: white;
    }
  }

  .content {
    z-index: -1;
    position: absolute;
    height: calc(100% - 90px);
    width: calc(100% - 70px);
    overflow: auto;

    .search {
      width: 100%;
      padding: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: auto;

      .searchBox {
        width: 90%;
        height: 40px;
        border: none;
        padding: 9px;
        font-size: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.541),
                    -5px -5px 12px -5px rgb(0, 71, 116);
      }

      .searchButton {
        cursor: pointer;
        width: 10%;
        height: 40px;
        border: none;
        font-size: 15px;
        background: $menu-selected;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.541),
                    0px -5px 12px -5px rgb(0, 71, 116);
      }
    }

    .status {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 200px;
        margin-top: 16%;
        opacity: 0.4;
      }

      .error {
        opacity: 0.6;
        width: 300px;
      }

      .loading {
        font-size: 35px;
        margin-top: 22%;
        color: white;
        -webkit-animation: text-flicker-out-glow 2.5s ease-in-out infinite both;
	                          animation: text-flicker-out-glow 2.5s ease-in-out infinite both;
      }
    }

    .novelList {

      .novelHolder {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        float: left;
        width: 207px;
        height: 291px;
        margin-left: 30px;
        margin-bottom: 15px;
        background-color: white;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.541),
                    -5px -5px 12px -5px rgb(0, 71, 116);
        transition: transform 0.5s;
        background: black;

        border: 1px solid #5eff00;

        .img {
          width: inherit;
          height: inherit;
          display: block;
          margin-left: auto;
          margin-right: auto;
          border-radius: inherit;
          transition: transform 0.5s;
        }

        .fade {
          position: absolute;
          bottom: -5px;
          width: 100%;
          height: 70px;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 8%,
            rgba(0, 0, 0, 0.609) 100%
          );
          padding: 5px;
          text-overflow: ellipsis;

          .name {
            color: white;
            font-weight: 500;
            width: 100%;
            height: 20px;
            text-align: left;
          }
        }
      }
    }

    .novelHolder:hover {
      .img {
          transform: scale(1.4) rotate(10deg);
      }
    }
  }
}

main {
  position: relative;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
  margin-top: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $scrollbar-color;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: $scrollbar-color;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-2 15:7:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes text-flicker-out-glow{0%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0.1;text-shadow:none}14.9%{opacity:0.1;text-shadow:none}15%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0.1;text-shadow:none}24.9%{opacity:0.1;text-shadow:none}25%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0.1;text-shadow:none}39.9%{opacity:0.1;text-shadow:none}40%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0.1;text-shadow:none}44.9%{opacity:0.1;text-shadow:none}45%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0.1;text-shadow:none}69.4%{opacity:0.1;text-shadow:none}69.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0.1;text-shadow:none}79.4%{opacity:0.1;text-shadow:none}79.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0.1;text-shadow:none}89.8%{opacity:0.1;text-shadow:none}89.9%{opacity:1;text-shadow:none}90%{opacity:0.1;text-shadow:none}100%{opacity:0.1}}@keyframes text-flicker-out-glow{0%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0.1;text-shadow:none}14.9%{opacity:0.1;text-shadow:none}15%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0.1;text-shadow:none}24.9%{opacity:0.1;text-shadow:none}25%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0.1;text-shadow:none}39.9%{opacity:0.1;text-shadow:none}40%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0.1;text-shadow:none}44.9%{opacity:0.1;text-shadow:none}45%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0.1;text-shadow:none}69.4%{opacity:0.1;text-shadow:none}69.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0.1;text-shadow:none}79.4%{opacity:0.1;text-shadow:none}79.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0.1;text-shadow:none}89.8%{opacity:0.1;text-shadow:none}89.9%{opacity:1;text-shadow:none}90%{opacity:0.1;text-shadow:none}100%{opacity:0.1}}
