@import "../../assets/scss/global-variables";

.page {
  .communityHolder {
    // background: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .buttonHolder {
      cursor: pointer;
      width: 290px;
      height: 170px;
      background: $content-background;
      margin: 1em;
      border-radius: 5px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      text-align: center;
      padding: 1em;
      transition: all 0.2s;

      img {
        margin-bottom: 0.5em;
      }

      .stars {
        width: 8em;
      }
      .discord {
        width: 3.3em;
      }
      .bug {
        width: 3.5em;
      }

      h2 {
        font-family: Krub;
        font-weight: 100;
        color: #74cbff;
        margin-bottom: 0.2em;
      }

      p {
        font-family: Krub;
        font-weight: 100;
        color: white;
      }
    }

    .buttonHolder:hover {
      box-shadow: none;
    }
  }
}
