@import "assets/scss/global-variables";

.page {
	.pageContent {
		.mainWrapper {
			.pageController {
				.pageControllerButtons {
					display: flex;
					justify-content: flex-end;
				}
			}

			.pageWrapper {
				padding-top: 0;
				display: flex;
				flex-direction: column;
				height: calc(100% - 60px);

				.checkingUpdates {
					overflow: hidden;
					// min-height: 100px;
					height: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: bold;
					font-family: Montserrat-Bold;
					font-size: 20px;
					color: white;
					border-radius: 5px;
					transition: all 1s;

					background: linear-gradient(
						-45deg,
						#74ccbc,
						rgb(140, 255, 240),
						#44beff,
						#00a2ff
					);
					background-size: 400% 400%;
					animation: load 5s ease infinite;
				}

				.novelsContainer {
					transition: transform 0.5s, height 1s;

					.message {
						width: 100%;
						height: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 12px;
					}

					.noSaved {
						height: 90%;
					}

					.novelsHolder {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
					}
				}

				.hideNovelsContainer {
					// transform: scaleY(0);
					height: 0;
					overflow: hidden;
				}

				.savedNovels {
					// height: 100%;
				}
			}
		}
	}
}
